.settings {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background: #fff;
}

.settings:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.settings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    color: #333;
    text-align: center;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

.settings-label {
    color: #333;
    margin: 10px 0;
    width: 100%;
    font-size: 1.2em;
    display: block;
}

.settings-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 25px;
    margin-left: 10px;
    margin-right: 0px;
    width: 100%;
    font-size: 1.2em;
    transition: border-color 0.3s ease;
}

.settings-input:hover,
.settings-input:focus {
    border-color: #4caf50;
}

.settings-button {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    background: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    font-size: 1.2em;
}

.settings-button:hover {
    background: #388e3c;
}

.settings-divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}


.settings-link {
    height: 28px;
    width: 28px;
}

.settings-error-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

.settings-avatar {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.settings-avatar-input,
.settings-name-input {
    border: 2px solid #4caf50;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    width: 100%;
    max-width: 300px;  /* Adjust as needed */
}

.settings-avatar-input:hover,
.settings-avatar-input:focus,
.settings-name-input:hover,
.settings-name-input:focus {
    border-color: #388e3c;
}
