.dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.dashboard-title {
    color: #333;
    text-align: center;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.room {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(49% - 50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.room:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.room-name {
    color: #333;
    margin: 0;
}

.room-id {
    color: #666;
    margin: 5px 0;
}

.room-divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.room-delete-button {
    background: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.room-delete-button:hover {
    background: #d32f2f;
}

.room-edit-button {
    background: #3f51b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 10px;
}

.room-edit-button:hover {
    background: #303f9f;
}

.room-actions {
    display: flex;
    align-items: center;
}

.room-name-input {
    padding: 5px;
    margin: 5px 0;
    margin-left: 0px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.dashboard-divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.room-add-form {
    margin-top: 20px;
}


.room-add-button {
    padding: 10px 20px;
    margin: 10px 0;
    margin-left: 10px;
    border-radius: 5px;
    background: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.room-add-button:hover {
    background: #388e3c;
}

.error-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

.room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simulation-link {
    height: 28px;
    width: 28px;
}

.room-luminosity-input {
    width: 25%;
    padding: 5px;
    margin: 5px 0;
    margin-left: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.room-automatique-input {
    padding: 5px;
    margin: 5px 0;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}